/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sophia Nubian Bold';
    src: url(../fonts/SNB.ttf);
}

@font-face {
    font-family: 'Cicle Fina';
    src: url(../fonts/CicleFina.ttf);
}

/* Navbar */
header {
    /* border: solid 1px black; */
    display: flex;
    width: 100%;
    min-height: 3em;
    background-color: #E85546;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

header>* {
    padding: 0 20px;
}

header>h1 {
    color: #ffffff;
    font-family: 'Sophia Nubian Bold';
    text-transform: uppercase;
}

header>nav>a, header>nav>a:hover header>nav>a:visited {
    color: #ffffff;
    text-decoration: none;
    margin: 5px;
    font-family: 'Roboto';
    font-weight: 200;
    text-transform: uppercase;
}

@media screen and (max-width:279px) {
    header>nav {
        display: flex;
        flex-direction: column;
    }
    header {
        flex-direction: column;
    }
}

/* Section Home */
#home>* {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

#home>*>button {
    width: 250px;
    height: 3em;
    border-radius: 2em;
    border-color: transparent;
    background-color: #E85546;
    color: #ffffff;
    margin-bottom: 1em;
}

#home {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    width:100%;
    min-height: 100vh; /* vw */
    margin: 0 auto;
    background: url(../images/hero.png) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; 
}

#home>*>h1 {
    font-family: 'Poiret One', cursive;
    font-size: 68px;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

#home>*>img {
    margin-top: 5em;
}

/* Section Our Works */
#our-works {
    /* border: solid 1px black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

#our-works>* {
    /* border: solid 1px black; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
}

#our-works>h1 {
    /* border: solid 1px black; */
    font-family: 'Poiret One', cursive;
    font-size: 68px;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    color: #2C3E50;
}

#our-works>em {
    /* border: solid 1px black; */
    display: flex;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-size: 22px;
    color: #8E8C89;
}

#our-works>.container {
    /* border: solid 1px black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

#our-works>.container>.img-grid {
    /* border: solid 1px black; */
    width: 60%;
    text-align: center;
    justify-content: center;
}

#our-works>.container>.img-grid>img {
    margin-left: 0.3em;
    margin-bottom: 1em;
}

/* Pricing Section */
#pricing {
    /* border: solid 1px black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto; 
}

#pricing>* {
    /* border: solid 1px black; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
}

#pricing>h1 {
    /* border: solid 1px black; */
    font-family: 'Poiret One', cursive;
    font-size: 68px;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    color: #2C3E50;
}

#pricing>em {
    /* border: solid 1px black; */
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-size: 22px;
    color: #8E8C89;
}

#pricing>.container {
    /* border: solid 1px black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

#pricing>.container>.pricing-card {
    border: solid 1px #dddddd;
    border-radius: 0.2em;
    margin: 1em;
    width: 250px;
    min-height: 350px;
    font-family: 'Roboto', sans-serif;
}

#pricing>.container>*>.card-header {
    padding: 2em;
}

#pricing>.container>.pricing-card>.card-header {
    background-color: #F5F5F5;
}

#pricing>.container>.blue-card>.card-header {
    background-color: #3498DB;
    color: #ffffff;
}

#pricing>.container>.pricing-card>*>h2 {
    font-size: 38px;
    font-weight: 100;
}

#pricing>.container>.pricing-card>ul {
    list-style: none;
}


#pricing>.container>.pricing-card>*>li {
    margin: 1em;
}

#pricing>.container>*>button {
    text-transform: uppercase;
    padding: 1em;
    width: 200px;
    border-radius: 0.5em;
    border-color: transparent;
    margin: 1em;
}

#pricing>.container>.pricing-card>button {
    background-color: #2C3E50;
    color: #ffffff;
}

#pricing>.container>.blue-card {
    border: solid 1px #3498DB;
    border-radius: 0.2em;
    margin: 1em;
    width: 250px;
    min-height: 350px;
    font-family: 'Roboto', sans-serif;
}

#pricing>.container>.blue-card>*>h2 {
    font-size: 38px;
    font-weight: 100;
}

#pricing>.container>.blue-card>ul {
    list-style: none;
}

#pricing>.container>.blue-card>ul>li {
    margin: 1em
}

#pricing>.container>.blue-card>button {
    font-weight:100;
    background-color: #3498DB;
    color: #ffffff;
}

/* Contact section */
#contact {
    /* border: solid 1px black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    margin: 0 auto; 
    background-color: #2C3E50;
}

#contact>h1 {
    /* border: solid 1px black; */
    font-family: 'Poiret One', cursive;
    font-size: 68px;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 8rem;
    width: 100%;
}

#contact>em {
    /* border: solid 1px black; */
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#contact>form {
    /* border: solid 3px black; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* height: 500px; */
    width: 100%;
    justify-content: center;

}

#contact>form>.form-col1 {
    /* border: solid 1px blue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40%;
    padding: 1em;
}

#contact>form>.form-col1>textarea {
    /* border: solid 1px cyan; */
    font-family: 'Roboto', sans-serif;
    font-size: large;
    border-radius: 0.2em;
    border-color: transparent;
    padding: 1em;
    width: 100%;
}

#contact>form>.form-col2 {
    /* border: solid 1px red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding: 1em;
}

#contact>form>.form-col2>input {
    padding: 1em;
    /* margin: 1em; */
    margin-bottom: 1em;
    border-radius: 0.2em;
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

#contact>form>.form-col2>.form-topic {
    /* border: solid 1px yellowgreen; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    width: 100%;
}

#contact>form>.form-col2>.form-topic>select {
    padding: 1em;
    /* margin: 1em; */
    border-radius: 0.2em;
    width: 75%;
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

#contact>form>.form-col2>.form-topic>button {
    /* margin: 1em; */
    padding: 1em;
    background-color: #E85546;
    color: #ffffff;
    border-color: transparent;
    border-radius: 0.2em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: large;
    width: 24%;
    min-width: 80px;
}

footer {
    width: 100%;
    min-height: 20vh;
    text-align: center;
}